<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	<meta charset="utf-8">
  
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" async></script> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css" type="text/css">

<style type="text/css">
.navbar.navbar-default {
	
    background-color: dodgerblue;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;

    padding-bottom: 30px;
}

.navbar.navbar-default .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
</style>

</head>

<body>
	 <nav class="navbar nav transparent navbar-default">
  
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" >
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/" style="font-size:3.5em; color: white; margin-top:10px;">Logo</a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar" class="page-header">
        <ul class="nav navbar-nav navbar-right">
         <li><a href="./contact_us" style="font-size:1.5em; color: white; margin-top:10px;">Contact Us</a></li>
          <li><a href="#" style="font-size:1.5em; color: white; margin-top:10px;">About Us</a></li>
          
        </ul>
      </div>
    </div>
 </nav> 


<div class="ui container">
	<h1 style="text-decoration: underline">About Us</h1>
		<p style="font-size:18px;">
	Walmart Promo Shop is your leading provider of high-quality, customizable promotional products, event giveaways, and commemorative gifts. We are committed to meeting your needs and exceeding your expectations with every purchase. Save on custom merchandise for brand awareness and marketing campaigns, employee recognition initiatives, trade show and event giveaways, client gifts, and more. Honor your special occasions with personalized gifts for your wedding, family reunion, religious retreat, holiday parties, and other friend and family gatherings. With our extensive catalog of affordable merchandise including bags, apparel, drinkware, promotional pens, tech gadgets, and much more, the possibilities are endless. 
	</p>

	<h2  style="text-decoration: underline">Design online</h2>
	<p style="font-size:18px;">
	Easily design your own unique, custom merchandise displaying your personal message, logo, or artwork. Creating custom products is easy with our user-friendly, online design tool that walks you through a short, step-by-step process of selecting colors, uploading images, and creating your own masterpiece. When you’re done designing, you can instantly preview your design online and make adjustments as needed.
	</p>

	<h2  style="text-decoration: underline">Satisfaction guaranteed</h2>
	<p style="font-size:18px;">
		A member of our Professional Design Team will review your order for free to ensure the highest quality. We will contact you if needed, and work with you until you are completely pleased with your design. Every order is backed by our 100% satisfaction guarantee, so you can rest assured you are receiving quality products at a great value.
	</p>
</div>
</body>
</html>